.item-card {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 400px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    color: #ffffff;
}

.item-card:hover {
    transform: scale(1.05);
}

.item-card .item-image {
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}

.item-card .watched-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.item-card .item-content {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-card .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.item-card .rating {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.item-card .actions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.item-card .button {
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-card .fire.button {
    background-color: var(--color-primary-fire);
    color: white;
}

.item-card .ice.button {
    background-color: rgba(53, 158, 210, 0.66);
    color: white;
}

.item-card .fire.button:hover,
.item-card .ice.button:hover {
    opacity: 0.8;
}
