.item-card {
  border-radius: 10px;
  overflow: hidden;
  width: 250px;
  height: 100%;
  max-height: 400px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #ffffff;
}

.item-card:hover {
  transform: scale(1.05);
}

.item-card .item-image {
  background-size: cover;
  background-position: center;
  background-color: transparent;
  height: 300px;
  width: 100%;
  position: relative;
}

.item-card .watched-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.item-card .item-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-card .title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.item-card .rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
