.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 100vh;
    width: 100%;
    margin-top: 3.2%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-background {
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Add overlay to improve text readability */
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 2rem;
}

.title {
    font-size: 4rem;
    font-weight: bold;
}

.description {
    margin-top: 1rem;
    max-width: 40rem;
}

.read-more {
    color: var(--color-primary-fire);
    cursor: pointer;
}

.actions {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.play-button, .info-button, .pause-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.play-button {
    background-color: var(--color-primary-fire);
    color: white;
}

.info-button {
    background-color: var(--color-secondary-fire);
    color: white;
}

.pause-button {
    background-color: var(--color-highlight-fire);
    color: black;
}

@media (max-width: 1290px) {
    .banner {
        flex-direction: column;
        margin-top: 3.7rem;

    }
    .content {
        justify-content: center;
        left: 2%;
    }
    .title {
        font-size: 2rem;
        font-weight: bold;
    }

    .description {
        margin-top: 0.5rem;
        max-width: 40rem;
    }
    .banner-background {
        height: 100vh;
        width: 100%;
        position: relative;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .actions {
        flex-direction: column;

    }
    .info-button , .play-button, .pause-button{
        width: 80%;
        align-self: center;
    }

}
