:root {
    --color-highlight-fire: rgba(255, 236, 168, 1);
    --color-primary-fire: rgba(255, 138, 48, 1);
    --color-secondary-fire: rgba(240, 96, 29, 1);
    --color-highlight-ice: rgba(168, 236, 255, 1);
    --color-primary-ice: rgba(48, 138, 255, 1);
    --color-secondary-ice: rgba(29, 96, 240, 1);
    --background-gradient-start: #010101;
    --background-gradient-end: #0a0000;
}

.header {
    background: transparent;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 60px;
    width: 100%;
    max-height: 60px;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}

.left-container {
    display: flex;
    align-items: center;
    gap: 20%;
    margin-left: 1%;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    margin-right: 1%;
}

.menu-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-container span {
    font-size: 16px;
    color: white;

}
.menu-container:hover  {
    font-size: 16px;
    color: var(--color-primary-fire);

}

.slide-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: transparent;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    box-sizing: border-box;
}

.slide-menu.show {
    transform: translateX(0);
}

.menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1400;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.menu-item {
    padding: 12px 16px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #eaeaea;
}

.menu-item:hover {
    background-color: var(--color-primary-fire);
    color: #000;
}

.logo-link {
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: inherit;
    gap: 1rem;
}

.logo-image {
    width: auto;
    height: auto;
    max-height: 40px;
    max-width: 40px;
}

.logo-text {
   font-size: larger;
    font-weight: bold;
    color: white;
}

.logo-text:hover {
    color: var(--color-primary-fire);
}

.nav-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
}

.nav-icons:hover {
    color: var(--color-primary-fire);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20%;
}

.user-controls {
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    background-color: transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    right: 0.0001%;
    z-index: 1500;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
}

.dropdown-item:hover {
    color: var(--color-primary-fire);
}
.dropdown-menu:hover {
    color: white;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--color-primary-fire);
}
