/* LandingPage.css */
.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.button {
    border: 1px solid green;
    backdrop-filter: blur(10px);
    transform: skewX(-10deg);
    height: 50px;
    width: 200px;
    border-radius: 20px 5px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font: 15px sans-serif;
    font-weight: 300;
    text-shadow: 0 0 20px #070707;
    text-transform: uppercase;
    animation: breath2 2s 0.5s infinite alternate;
    cursor: pointer;
}

.button:before {
    content: "";
    position: absolute;
    width: calc(100% - 22px);
    height: calc(50px - 8px);
    top: 3px;
    left: 10px;
    border: 1px solid #0a0a0a;
    border-radius: 15px 3px 15px 3px;
    box-shadow: inset 0 0 30px 0 rgb(5, 5, 5);
    transition: all 0.3s ease-in-out;
}

.button:after {
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 6px);
    top: 3px;
    left: 10px;
    border: 1px solid #fdf7f7;
    border-radius: 15px 3px 15px 3px;
    box-shadow: inherit;
    transition: all 0.3s ease-in-out;
}

.button.fire {
    border-color: rgba(255, 236, 168, 1);
    background-image: linear-gradient(to bottom, rgba(255, 138, 48, 0.4), rgba(240, 96, 29, 0.4));
    box-shadow: 0 0 70px rgba(255, 138, 48, 0.4), 0 5px 20px rgba(255, 138, 48, 0.4), inset 0 1px rgba(255, 236, 168, 1), inset 0 -1px rgba(255, 236, 168, 1);
    color: rgba(255, 236, 168, 1);
}

.button.fire:before {
    box-shadow: inset 0 0 30px 0 rgba(255, 236, 168, 1);
}

.button.ice {
    border-color: rgba(168, 236, 255, 1);
    background-image: linear-gradient(to bottom, rgba(48, 138, 255, 0.5), rgba(29, 96, 240, 0.5));
    box-shadow: 0 0 70px rgba(48, 138, 255, 0.5), 0 5px 20px rgba(48, 138, 255, 0.5), inset 0 1px rgba(168, 236, 255, 1), inset 0 -1px rgba(168, 236, 255, 1);
    color: rgba(168, 236, 255, 1);
}

.button.ice:before {
    box-shadow: inset 0 0 30px 0 rgba(168, 236, 255, 1);
}

.button:hover.fire {
    box-shadow: 0 0 70px rgba(255, 138, 48, 0.2), 0 5px 20px rgba(255, 138, 48, 0.2), inset 0 1px rgba(255, 236, 168, 1), inset 0 -1px rgba(255, 236, 168, 1);
}

.button:hover.fire:before {
    box-shadow: inset 0 0 50px 0 rgba(255, 236, 168, 1);
}

.button:hover.ice {
    box-shadow: 0 0 70px rgba(128, 170, 211, 0.2), 0 5px 20px rgba(79, 99, 140, 0.2), inset 0 1px rgb(9, 206, 239), inset 0 -1px rgb(14, 185, 232);
}

.button:hover.ice:before {
    box-shadow: inset 0 0 50px 0 rgb(34, 159, 194);
}

@keyframes breath {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0.95);
    }
}

@keyframes breath2 {
    0% {
        transform: skewX(-10deg) scaleX(1);
    }
    100% {
        transform: skewX(-10deg) scaleX(0.95);
    }
}

.ref {
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 5px 8px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 300;
    font-family: sans-serif;
    text-decoration: none;
}

.ref::first-letter {
    font-size: 12px;
}
