.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 30px;
    align-self: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 300px;
}

.login-card h2 {
    margin-bottom: 20px;
    color: #fff;
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.login-card input {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

